<div class="accordion" id="accordionAplicacion">
    @if (DataSourceApp != null && DataSourceApp.Any())
    {
        @foreach (var item in DataSourceApp.Where(x => x.Padre == null))
        {
            <div class="accordion-item">
                <div class="accordion-header" id="@string.Concat("heading",@item.Id)">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@item.Id" aria-expanded="true" aria-controls="@item.Id">
                        @item.Nombre
                    </button>
                </div>
                <div id="@item.Id" class="accordion-collapse collapse show" aria-labelledby="@string.Concat("heading",@item.Id)">
                    <div class="accordion-body">
                        @foreach (var itemHijo in DataSourceApp.Where(x => x.Padre == @item.Id))
                        {
                            <a href="@itemHijo.Url" role="button">
                                <span class="@itemHijo.Icono" aria-hidden="true"></span> @itemHijo.Nombre
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>