@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<PageTitle>Spherical</PageTitle>

<MudThemeProvider />

<AuthorizeView>
    <Authorized>

        <MudLayout>
            <MudAppBar Elevation="1">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
                <MudSpacer />
                <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Link="https://github.com/MudBlazor/MudBlazor" Target="_blank" />
            </MudAppBar>
            <MudDrawer @bind-Open="@open" Elevation="1" Class="">
                <MudDrawerHeader>                    
                    <MudMenu Class="" Icon="@Icons.Material.Filled.Menu" Size="Size.Small">
                        <MudNavMenu>
                            <MudNavLink Match="NavLinkMatch.All" Href="Tactic/" Icon="@Icons.Filled.AssignmentTurnedIn">Administración</MudNavLink>
                            <MudNavLink Match="NavLinkMatch.All" Href="Defender/" Icon="@Icons.Material.Filled.Shield">Seguridad</MudNavLink>
                            <MudNavLink Match="NavLinkMatch.All" Href="Lineup/" Icon="@Icons.Filled.ListAlt">Inventario</MudNavLink>
                            <MudNavLink Match="NavLinkMatch.All" Href="Control/" Icon="@Icons.Filled.AccountBalanceWallet">Alquiler</MudNavLink>
                            <MudNavLink Match="NavLinkMatch.All" Href="Fordward/" Icon="@Icons.Filled.ReceiptLong">Facturación</MudNavLink>
                        </MudNavMenu>
                    </MudMenu>
                    <MudText Typo="Typo.h6"> Spherical</MudText>
                </MudDrawerHeader>
                <MudNavMenu Class="">
                    <MudNavLink Match="NavLinkMatch.All" Href="Tactic/" Icon="@Icons.Filled.AssignmentTurnedIn">Administración</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Href="Defender/" Icon="@Icons.Material.Filled.Shield">Seguridad</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Href="Lineup/" Icon="@Icons.Filled.ListAlt">Inventario</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Href="Control/" Icon="@Icons.Filled.AccountBalanceWallet">Alquiler</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Href="Fordward/" Icon="@Icons.Filled.ReceiptLong">Facturación</MudNavLink>
                </MudNavMenu>
            </MudDrawer>
            <MudMainContent Class="pt-16 px-16">
                <MudContainer Class="mt-6">
                    <MudAlert Severity="Severity.Success" Class="mt-16">
                        @Body
                    </MudAlert>
                </MudContainer>
            </MudMainContent>
        </MudLayout>

    </Authorized>
    <NotAuthorized>
        <div class="page">
            <div class="sidebar">
                <LoginControl ReturnUrl="@ReturnUrl" />
            </div>
            <main>
                <div class="top-row px-4">
                </div>
                <article class="content px-4">
                </article>
            </main>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {

    string ReturnUrl = "";
    protected override async void OnInitialized()
    {

        var url = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        if (url.Contains("returnUrl"))
        {
            var split = url.Split("returnUrl");
            url = split[1].Substring(1);
        }

        ReturnUrl = url;
    }

    bool open = true;

    void ToggleDrawer()
    {
        open = !open;
    }
}